.tetle {
    background-color: aqua;
    color: black
}
.p1 {
    text-align: center;
    color: blue;
    font-weight: bold;
}
.p2 {
    text-align: center;
    background-color: yellow;
    text-transform: lowercase;
}
.h1 {
    text-align: center;
    color: blue;
    background-color: silver;
    
}
.p3 {
    font-family: "Helvetica Neue", Arial, sans-serif;
}